body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--black-color);
  width: 1600px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --white-color: #ffffff;
  --black-color: #212121;
  --first-brand-color: #2196f3;
  --paragraph-color: #757575;
  --brand-background-color: #f5f4fa;
  --second-brand-color: #2f303a;
}
img {
  display: block;
}

h1,
h2,
h4,
h5 {
  margin: 0px;
  padding: 0px;
}
p {
  margin: 0px;
  padding: 0px;
}
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* początek sekcji header*/
.header-section {
  background: var(--white-color);
}

header a {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;
}
.logo-color {
  color: var(--first-brand-color);
}
.link-to-another-page {
  font-weight: 500;
  font-size: 14px;
  color: var(--black-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  color: var(--paragraph-color);
  letter-spacing: 0.02em;
  line-height: 1.14;
}
nav {
  display: flex;
}
header .container {
  display: flex;
}
.navigation-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 50px;
}
.navigation-links {
  display: flex;
  gap: 46px;
  align-items: center;
}
.navigation-links a:hover,
.navigation-links a:focus:focus {
  color: var(--first-brand-color);
}
.navigation-contacts a:hover,
.navigation-contacts a:focus {
  color: var(--first-brand-color);
}
/* koniec sekcji*/

/*pierwsza sekcja*/
.first-section {
  background: var(--second-brand-color);
  width: 1600px;
  height: 600px;
  text-align: center;
}
.primary-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
  padding-top: 200px;
  margin-bottom: 30px;
}
.button-in-main-page {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  background-color: var(--first-brand-color);
  color: var(--white-color);
  cursor: pointer;

  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*druga sekcja

*/
.descriptions-section .container ul {
  display: flex;
  gap: 30px;
}

.descriptions-section {
  padding-top: 94px;
}
.small-headers {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
.descriptions {
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 1.71;
  width: 270px;
  letter-spacing: 0.03em;
}
/*trzecia sekcja*/
.secondary-header {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}
.what-we-do-list {
  display: flex;
  gap: 30px;
}

/*czwarta sekcja


*/

.team-list {
  display: flex;
  gap: 30px;
}
.last-section {
  background: var(--brand-background-color);
}
.last-header {
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}
.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;
}
.professions {
  color: var(--paragraph-color);
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}
.team-list figure {
  width: 270px;

  background: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* sekcja footer

*/

.footer-section {
  background: var(--second-brand-color);
  width: 1600px;
  height: 252px;
}
footer a {
  text-decoration: none;
}
.logo-in-footer {
  font-family: "Raleway";
  color: var(--white-color);
  font-size: 26px;
  padding-top: 60px;
  margin-bottom: 20px;
}
.street {
  font-style: normal;
  font-size: 14px;
  color: var(--white-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.email-in-footer {
  font-style: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
  line-height: 1.71;
  margin-bottom: 9px;
  margin-top: 9px;
}
.tel-in-footer {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.email-in-footer:hover,
.email-in-footer:focus {
  color: var(--first-brand-color);
}
.tel-in-footer:hover,
.tel-in-footer:focus {
  color: var(--first-brand-color);
}

/* tu się zaczyna część, która opisuje stronę "portfolio"

do header i footer został wykorzystane te same style co do strony głównej
*/

.border-in-header {
  border-bottom: 1px solid #ececec;
}

/* stylizacja przycisków*/

.arrangement-of-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
}

.portfolio-buttons {
  background: var(--brand-background-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.portfolio-buttons:hover,
.portfolio-buttons:focus {
  background: var(--first-brand-color);
  color: var(--white-color);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-left: 24px;
  margin-top: 20px;
}
.role-in-project {
  color: var(--paragraph-color);
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
  line-height: 1.87;
}
.list-of-images {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  column-gap: 30px;
}
.list-of-images li figure figcaption {
  border: 1px solid #eeeeee;
}
.list-of-images:last-child {
  margin-bottom: 94px;
}
